/* styles.css */
:root {
/* CSS HEX */
--beige: rgb(255, 229, 151);
--berry-blush: #a23b72ff;
--carrot-orange: #f18f01ff;
--red-ochre: #c73e1dff;
--midnight-violet: #3b1f2bff;
}

body {
background-color: var(--beige);
}
h1 {
  color: var(midnight-violet);
}

.col{
  border: 1px solid red
}

div.top{
  margin-bottom: 50px;
}